body {
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

/* .question {
  display: none;
} */

.active {
  display: inline;
}

.Hidden {
  display: none;
}
